<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <title>
        Gravity's Rainbow
    </title>
</head>
<body>
    {% load static %}

    <link rel="stylesheet" type="text/css" href={% static 'gravapp/index.css' %}>
    <style>
        /* d3 */
        
        .link {
          stroke: #ccc;
          stroke-width: 1.5px;
        }

        .node text {
          pointer-events: none;
          font: 10px sans-serif;
        }
        */
        /* app */
        .gimme-some-room {
            margin-top: 10px;
        }

        /* better buttons */
        .btn {
            padding: 14px 24px;
            border: 0 none;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
         
        .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0 none;
        }
         
        .btn-primary {
            background: #0099cc;
            color: #ffffff;
        }
         
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #33a6cc;
        }
         
        .btn-primary:active, .btn-primary.active {
            background: #007299;
            box-shadow: none;
        }

        .btn.sharp {
             border-radius:0;
        }
    </style>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"   integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="   crossorigin="anonymous"></script>
    <!--
    <script src={% static "gravapp/d3.js" %}></script>
    <script src={% static "gravapp/jquery.js" %}></script>
    -->
    <script>
        var width = 960,
        height = 450;

        var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

        var force = d3.layout.force()
        .gravity(0.05)
        .distance(100)
        .linkDistance(100)
        .charge(-100)
        .size([width, height]);

        var node = svg.selectAll(".node");
        var link = svg.selectAll(".link");

        var data = {{ context|safe }};
        var nodes = data.nodes;
        var links = data.links;
        var graph = data.graph;

        var color = d3.scale.category20();

        function updateGraph() {
            force
              .nodes(nodes)
              .links(edgesFromLinks())
              .start();

            node = node.data(force.nodes(), function(d) { return d.name; });
            
            node.enter().append("g")
              .attr("class", "node")
              .attr('x', function(d) { return d.x; })
              .attr('y', function(d) { return d.y; })
              .call(force.drag);

            node.exit().remove();

            node.append("circle")
              .attr("r", 5)
              .attr("fill", function(d) { return color(d.group); });

            node.append("text")
              .attr("dx", 12)
              .attr("dy", ".35em")
              .text(function(d) { return d.name });

            link = link.data(force.links(), function(d) { 
                return d.source.index + "-" + d.target.index; 
            });
            link.enter().insert("line", ".node").attr("class", "link");
            link.exit().remove();

            force.on("tick", function() {
                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
                
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });
            });

            updateAutocomplete()

        } updateGraph();

        function edgesFromLinks() {
            var edges = [];

            links.forEach(function(e) {
                var sourceNode = nodes.filter(function(n) { 
                        return n.name === e.source; 
                    })[0],
                    targetNode = nodes.filter(function(n) { return n.name === e.target; })[0];

                edges.push({source: sourceNode, target: targetNode});
            });
            return edges;
        };

        function updateAutocomplete() {
            var names = [],
                sources = [],
                targets = [];

            for (var i = 0; i < nodes.length; i++) {
                names.push(nodes[i].name);
            }

            for (var i = 0; i < links.length; i++) {
                sources.push(links[i].source);
                targets.push(links[i].target);
            }

            $('#id_first_name').autocomplete({ source: names });
            $('#id_first_character').autocomplete({ source: names });//sources });
            $('#id_second_character').autocomplete({ source: names });//targets });
        };
    </script>
    <script>
        $(function() { 
            var $first_name_field = $('#id_first_name');
            //var $last_name_field = $('#id_last_name');

            $('#create-btn').click(function() {
                var full_name = $first_name_field.val().trim();
                var name_arr = full_name.split(' ');
                
                var fst_name = name_arr[0];
                var lst_name = name_arr.length > 1 ? name_arr.reverse()[0] : '';

                var name = { 'first_name': fst_name, 'last_name': lst_name };

                $.post('/create_character/', name, function(res) {
                    console.log(res);
                    nodes.push({ 'name': full_name });

                    updateGraph();

                    clearFields();
                }); 

                return false;
            });

            $('#del-btn').click(function() {
                var name = $first_name_field.val();

                $.post('/delete_character/', {'name': name}, function(res) {
                    console.log(res);
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].name.toLowerCase() === name.toLowerCase()) {
                            nodes.splice(i, 1);
                        }
                    }

                    updateGraph();

                    clearFields();

                });

                return false;
            });

            var $name_of_first_field = $('#id_first_character'),
                $name_of_second_field = $('#id_second_character');

            $('#rel-create-btn').click(function() {
                var name_of_first = $name_of_first_field.val(),
                    name_of_second = $name_of_second_field.val();
                    page = $('#id_page_num').val()

                var rel = { 'source': name_of_first, 'target': name_of_second, 'page_num': page };

                $.post('/create_relationship/', rel, function(res) {
                    console.log(res);

                    links.push(rel);
                    
                    // get the corresponding nodes 

                    var source_node, 
                        target_node,
                        update_group;

                    for (let i = 0; i < nodes.length; i++) {
                        let node = nodes[i];

                        if (node.name === rel.source) {
                            source_node = node;
                        }
                        else if (node.name === rel.target) {
                            target_node = node;
                            update_group = node.group;
                        }
                    }

                    // TODO: need to also add to graph

                    updateNodeGroups(source_node, update_group);
                    
                    updateGraph();

                    clearFields();
                });

                return false;
            });

            $('#rel-del-btn').click(function() {
                var name_of_first = $name_of_first_field.val(),
                    name_of_second = $name_of_second_field.val();

                var rel = { 'source': name_of_first, 'target': name_of_second };

                $.post('/delete_relationship/', rel, function(res) {
                    console.log(res);

                    for (var i = 0; i < links.length; i++) {
                        if (links[i].source.toLowerCase() === rel.source.toLowerCase() && links[i].target.toLowerCase() === rel.target.toLowerCase()) {
                            links.splice(i, 1);
                        }
                    }

                    updateGraph();

                    clearFields();
                });

                return false 
            });

            function updateNodeGroups(start_node, group_num) {
                let old_group_num = start_node.group;

                for (let i = 0; i < nodes.length; i++) {
                    if (nodes[i].group === old_group_num) {
                        nodes[i].group = group_num;
                    }
                }
            }

            function clearFields() {
                $('input[type=text]').val('');
            }

            updateAutocomplete();
        });
    </script>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Characters</h3>
                <form method="post" class="form-horizontal well">
                    {% csrf_token %}
                    <div class="control-group">
                        <label for="id_first_name">Name</label>
                        <div class="controls">
                            <input type="text" id="id_first_name" required />
                        </div>
                    </div>
                    <div class="control-group gimme-some-room">
                        <input id="create-btn" class="btn btn-primary" type="submit" value="Create" />
                        <input id="del-btn" class="btn btn-warning" type="submit" value="Delete" />
                    </div>
            </form>
            </div>
            <div class="col-sm-4">
                <h3>Relationships</h3>
                <form method="post" class="form-horizontal well">
                    {% csrf_token %}
                    <div class="control-group">
                        <label for="id_first_character" class="control-label">Character</label> 
                        <div class="controls">
                            <input id="id_first_character" class="input-block-level" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="id_second_character" class="control-label">knows</label> 
                        <div class="controls">
                            <input id="id_second_character" required />
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="id_page_num" class="control-label">from page</label>
                        <div class="controls">
                            <input id="id_page_num" type="number" value="1" />
                        </div>
                    </div>
                    <div class="control-group gimme-some-room">
                        <input id="rel-create-btn" class="btn btn-primary" type="submit" value="Add" />
                        <input id="rel-del-btn" class="btn btn-warning" type="submit" value="Delete" />
                    </div>
                </form>
            </div>
        </div>
    </div>