<!DOCTYPE html>
<meta charset="utf-8">
<style>

.link {
  stroke: #ccc;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

</style>
<body>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src={% static "gravapp/d3.js" %}></script>
    <!--
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src={% static "gravapp/jquery.js" %}></script>
    -->
    <script>
        var width = 960,
        height = 450;

        var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

        var force = d3.layout.force()
        .gravity(0.05)
        .distance(100)
        .linkDistance(100)
        .charge(-100)
        .size([width, height]);

        var node = svg.selectAll(".node");
        var link = svg.selectAll(".link");

        var data = {{ context|safe }};
        var nodes = data.nodes;
        var links = data.links;

        /*
        links.forEach(function(e) {
            var source = nodes.filter(function(n) {
                return n
            })[0];
            console.log(source);
        });*/

        //var json = JSON.parse((JSON.stringify(data)));

        function updateGraph() {
            force
              .nodes(nodes)
              //.links({"source": nodes[0], "target": nodes[1]})
              //.links([{source: 0, target: 1, value: 5}, {source: 2, target: 1, value: 1}])
              .links(edgesFromLinks())
              //.nodes(json.nodes)
              //.links(json.links)
              .start();

            node = node.data(force.nodes(), function(d) { return d.name; });
            
            node.enter().append("g")
              .attr("class", "node")
              .attr('x', function(d) { return d.x; })
              .attr('y', function(d) { return d.y; })
              .call(force.drag);

            node.exit().remove();

            node.append("circle")
              .attr("r", 5);
              //.attr("fill", function(d) { return color(d.group); })

            node.append("text")
              .attr("dx", 12)
              .attr("dy", ".35em")
              .text(function(d) { return d.name });

            //link.data(force.links())
            //var gs = svg.selectAll("g")[0];
            //link.data([{ source: gs[0], target: gs[1] }]) 
            //link.data(force.links(), function(d) { return d.source.id + "-" + d.target.id; })
            //    .enter().append("line")
            //    .attr("class", "link");

            link = link.data(force.links(), function(d) { return d.source.id + "-" + d.target.id; });
            link.enter().insert("line", ".node").attr("class", "link");
            link.exit().remove();

            force.on("tick", function() {
                node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
                
                link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });
            });
        } updateGraph();

        function edgesFromLinks() {
            var edges = [];

            links.forEach(function(e) {
                var sourceNode = nodes.filter(function(n) { 
                        return n.name === e.source; 
                    })[0],
                    targetNode = nodes.filter(function(n) { return n.name === e.target; })[0];

                edges.push({source: sourceNode, target: targetNode});
            });
            return edges;
        };
    </script>
    <script>
        $(function() { 
            var $first_name_field = $('#id_first_name');
            var $last_name_field = $('#id_last_name');

            $('#create-btn').click(function() {
                var fst_name = $first_name_field.val().trim();
                var lst_name = $last_name_field.val().trim();
                var name = { 'first_name': fst_name, 'last_name': lst_name };

                $.post('/create_character/', name, function(res) {
                    console.log(res);
                    nodes.push({ 'name': fst_name });

                    updateGraph();

                    clearFields();
                }); 

                return false;
            });

            $('#del-btn').click(function() {
                var name = $first_name_field.val();

                $.post('/delete_character/', {'name': name}, function(res) {
                    console.log(res);
                    for (var i = 0; i < nodes.length; i++) {
                        if (nodes[i].name.toLowerCase() === name.toLowerCase()) {
                            nodes.splice(i, 1);
                        }
                    }

                    updateGraph();

                    clearFields();
                });

                return false;
            });

            $('#rel-create-btn').click(function() {
                var name_of_first = $('#id_first_character').val(),
                    name_of_second = $('#id_second_character').val();

                var rel = { 'source': name_of_first, 'target': name_of_second };

                $.post('/create_relationship/', rel, function(res) {
                    console.log(res);

                    links.push(rel);

                    updateGraph();

                    clearFields();
                });

                return false;
            });

            function clearFields() {
                //$first_name_field.val('');
                //$last_name_field.val('');

                $('input[type=text]').val('');
            }
        });
    </script>
    <h3>Characters</h3>
    <form method="post">
        {% csrf_token %}
        {{ form }}

        <input id="create-btn" type="submit" value="Create" />
        <input id="del-btn" type="submit" value="Delete (looks at first name only)" />
    </form>

    <h3>Relationships</h3>
    <form method="post" style="margin-top: 15px;">
        {% csrf_token %}
        
        <label for="id_first_character">Character</label> 
        <input id="id_first_character" required />
        <label for="id_second_character">knows</label> 
        <input id="id_second_character" required />

        <input id="rel-create-btn" type="submit" value="Add" />
        <input id="rel-del-btn" type="submit" value="Delete" />
    </form>